In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [2]:
ser1=Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
ser2=ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [7]:
ser2=ser1.reindex(['A','B','C','D','E','F','G'],fill_value=0)
ser2

A    1
B    2
C    3
D    4
E    0
F    0
G    0
dtype: int64

In [9]:
ser3=Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
ranger = range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [12]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [22]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','C','D','E'],
columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -0.903262  0.440450  0.322851  1.592061 -0.282521
B -0.708989 -0.542093  0.330934 -1.814633 -0.615981
C -0.884325  0.998062 -0.593610  0.198955  0.100305
D  1.511438 -0.325176  1.378531  0.135154  1.579981
E -0.083382 -1.011032  0.047737 -1.309120  0.086460

In [23]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [24]:
dframe.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.903262  0.440450  0.322851  1.592061 -0.282521   NaN
B -0.708989 -0.542093  0.330934 -1.814633 -0.615981   NaN
C -0.884325  0.998062 -0.593610  0.198955  0.100305   NaN
D  1.511438 -0.325176  1.378531  0.135154  1.579981   NaN
E -0.083382 -1.011032  0.047737 -1.309120  0.086460   NaN

In [25]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A -0.903262  0.440450  0.322851  1.592061 -0.282521   NaN
B -0.708989 -0.542093  0.330934 -1.814633 -0.615981   NaN
C -0.884325  0.998062 -0.593610  0.198955  0.100305   NaN
D  1.511438 -0.325176  1.378531  0.135154  1.579981   NaN
E -0.083382 -1.011032  0.047737 -1.309120  0.086460   NaN
F       NaN       NaN       NaN       NaN       NaN   NaN