In [7]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [8]:
ser=Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])
ser

1  a    0.102704
   b   -0.956865
   c   -2.334875
2  a   -0.037586
   b   -0.959193
   c    0.140384
dtype: float64

In [9]:
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [10]:
ser[2]

a   -0.037586
b   -0.959193
c    0.140384
dtype: float64

In [11]:
ser

1  a    0.102704
   b   -0.956865
   c   -2.334875
2  a   -0.037586
   b   -0.959193
   c    0.140384
dtype: float64

In [12]:
ser[:,'a']

1    0.102704
2   -0.037586
dtype: float64

In [16]:
dframe=ser.unstack()
dframe

          a         b         c
1  0.102704 -0.956865 -2.334875
2 -0.037586 -0.959193  0.140384

In [20]:
dframe2=DataFrame(randn(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]], 
                 columns=[['NY','NY', 'LA','SF'],['hot','cold','hot','cold']])
dframe2

           NY                  LA        SF
          hot      cold       hot      cold
a 1  0.188146  2.056081  0.276603  1.427868
  2  0.333961  0.245566  0.914121  1.771276
b 1  1.665491  2.106082  0.435733  2.301893
  2 -0.580259 -0.828664 -0.931716  0.824558

In [21]:
dframe2.index.names=['INDEX_1','INDEX_2']
dframe2.columns.names=['Cities','Temp']

dframe2

Cities                 NY                  LA        SF
Temp                  hot      cold       hot      cold
INDEX_1 INDEX_2
a       1        0.188146  2.056081  0.276603  1.427868
        2        0.333961  0.245566  0.914121  1.771276
b       1        1.665491  2.106082  0.435733  2.301893
        2       -0.580259 -0.828664 -0.931716  0.824558

In [22]:
dframe2.swaplevel('Cities','Temp', axis=1)

Temp                  hot      cold       hot      cold
Cities                 NY        NY        LA        SF
INDEX_1 INDEX_2
a       1        0.188146  2.056081  0.276603  1.427868
        2        0.333961  0.245566  0.914121  1.771276
b       1        1.665491  2.106082  0.435733  2.301893
        2       -0.580259 -0.828664 -0.931716  0.824558

In [24]:
dframe2.sortlevel(0)

Cities                 NY                  LA        SF
Temp                  hot      cold       hot      cold
INDEX_1 INDEX_2
a       1        0.188146  2.056081  0.276603  1.427868
        2        0.333961  0.245566  0.914121  1.771276
b       1        1.665491  2.106082  0.435733  2.301893
        2       -0.580259 -0.828664 -0.931716  0.824558

In [25]:
dframe2.sortlevel(1)

Cities                 NY                  LA        SF
Temp                  hot      cold       hot      cold
INDEX_1 INDEX_2
a       1        0.188146  2.056081  0.276603  1.427868
b       1        1.665491  2.106082  0.435733  2.301893
a       2        0.333961  0.245566  0.914121  1.771276
b       2       -0.580259 -0.828664 -0.931716  0.824558

In [26]:
dframe2.sum(level='Temp',axis=1)

Temp                 cold       hot
INDEX_1 INDEX_2
a       1        3.483949  0.464749
        2        2.016842  1.248082
b       1        4.407975  2.101224
        2       -0.004106 -1.511975

In [27]:
dframe2.sum(level='Cities',axis=1)

Cities                 LA        NY        SF
INDEX_1 INDEX_2
a       1        0.276603  2.244227  1.427868
        2        0.914121  0.579527  1.771276
b       1        0.435733  3.771573  2.301893
        2       -0.931716 -1.408923  0.824558