In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [3]:
dframe=DataFrame({'k1':['X','X','Y','Y','Z'],
                  'k2':['alpha','beta','alpha','beta','alpha'],
                 'dataset1':np.random.randn(5),
                 'dataset2':np.random.randn(5)})
dframe

   dataset1  dataset2 k1     k2
0 -1.535913  0.098883  X  alpha
1  1.239305 -0.253517  X   beta
2 -0.557654 -0.628959  Y  alpha
3 -0.159412  0.888377  Y   beta
4 -0.300235 -1.186794  Z  alpha

In [5]:
group1=dframe['dataset1'].groupby(dframe['k1'])
group1

In [6]:
group1.mean()

k1
X   -0.148304
Y   -0.358533
Z   -0.300235
Name: dataset1, dtype: float64

In [7]:
cities=np.array(['NY','LA','LA','NY','NY'])
month=np.array(['JAN','FEB','JAN','FEB','JAN'])

In [8]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB    1.239305
    JAN   -0.557654
NY  FEB   -0.159412
    JAN   -0.918074
Name: dataset1, dtype: float64

In [9]:
dframe

   dataset1  dataset2 k1     k2
0 -1.535913  0.098883  X  alpha
1  1.239305 -0.253517  X   beta
2 -0.557654 -0.628959  Y  alpha
3 -0.159412  0.888377  Y   beta
4 -0.300235 -1.186794  Z  alpha

In [13]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X  -0.148304 -0.077317
Y  -0.358533  0.129709
Z  -0.300235 -1.186794

In [15]:
#groupby multiple columns
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha -1.535913  0.098883
   beta   1.239305 -0.253517
Y  alpha -0.557654 -0.628959
   beta  -0.159412  0.888377
Z  alpha -0.300235 -1.186794

In [17]:
#show size/no. of term of each group
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [18]:
dframe.groupby('k1')

In [21]:
for name,group in dframe.groupby('k1'):
    print 'This is the %s group' %name
    print group
    print '\n'

This is the X group
   dataset1  dataset2 k1     k2
0 -1.535913  0.098883  X  alpha
1  1.239305 -0.253517  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2 -0.557654 -0.628959  Y  alpha
3 -0.159412  0.888377  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4 -0.300235 -1.186794  Z  alpha

In [22]:
for (k1,k2),group in dframe.groupby(['k1','k2']):
    print 'Key1 = %s Key2 %s' %(k1,k2)
    print group
    print '\n'

Key1 = X Key2 alpha
   dataset1  dataset2 k1     k2
0 -1.535913  0.098883  X  alpha


Key1 = X Key2 beta
   dataset1  dataset2 k1    k2
1  1.239305 -0.253517  X  beta


Key1 = Y Key2 alpha
   dataset1  dataset2 k1     k2
2 -0.557654 -0.628959  Y  alpha


Key1 = Y Key2 beta
   dataset1  dataset2 k1    k2
3 -0.159412  0.888377  Y  beta


Key1 = Z Key2 alpha
   dataset1  dataset2 k1     k2
4 -0.300235 -1.186794  Z  alpha

In [23]:
#create dictionary to disect the datasets by pieces
group_dict=dict(list(dframe.groupby('k1')))
group_dict['X']

   dataset1  dataset2 k1     k2
0 -1.535913  0.098883  X  alpha
1  1.239305 -0.253517  X   beta

In [24]:
group_dict=dict(list(dframe.groupby('k1')))
group_dict['Y']

   dataset1  dataset2 k1     k2
2 -0.557654 -0.628959  Y  alpha
3 -0.159412  0.888377  Y   beta

In [25]:
group_dict=dict(list(dframe.groupby('k1')))
group_dict['Z']

   dataset1  dataset2 k1     k2
4 -0.300235 -1.186794  Z  alpha

In [30]:
group_dict_axis1=dict(list(dframe.groupby(dframe.dtypes,axis=1)))

In [31]:
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0 -1.535913  0.098883
 1  1.239305 -0.253517
 2 -0.557654 -0.628959
 3 -0.159412  0.888377
 4 -0.300235 -1.186794, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [37]:
dataset2_group=dframe.groupby(['k1'])[['dataset2']]
dataset2_group.mean()

    dataset2
k1
X  -0.077317
Y   0.129709
Z  -1.186794

In [38]:
dataset2_group=dframe.groupby(['k1','k2'])[['dataset1']]
dataset2_group.mean()

          dataset1
k1 k2
X  alpha -1.535913
   beta   1.239305
Y  alpha -0.557654
   beta  -0.159412
Z  alpha -0.300235

In [39]:
dframe

   dataset1  dataset2 k1     k2
0 -1.535913  0.098883  X  alpha
1  1.239305 -0.253517  X   beta
2 -0.557654 -0.628959  Y  alpha
3 -0.159412  0.888377  Y   beta
4 -0.300235 -1.186794  Z  alpha