In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
obj = Series([3,6,9,12])

In [3]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
obj.values

array([ 3,  6,  9, 12])

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
ww2_cas=Series([87000000,43000000,30000000,21000000,4000000],index=['USSR','Germany','China','Japan','USA'],)

In [9]:
ww2_cas

USSR       87000000
Germany    43000000
China      30000000
Japan      21000000
USA         4000000
dtype: int64

In [10]:
ww2_cas['USA']

4000000

In [11]:
#check which countries has CAS greater than 4mil
ww2_cas[ww2_cas>4000000]

USSR       87000000
Germany    43000000
China      30000000
Japan      21000000
dtype: int64

In [12]:
'USSR' in ww2_cas

True

In [14]:
ww2_dict=ww2_cas.to_dict()
ww2_dict

{'China': 30000000,
 'Germany': 43000000,
 'Japan': 21000000,
 'USA': 4000000,
 'USSR': 87000000}

In [15]:
countries = ['China','Germany','Japan','USA','USSR','Argentina']

In [26]:
obj2=Series(ww2_dict,index=countries)

In [27]:
obj2

China        30000000.0
Germany      43000000.0
Japan        21000000.0
USA           4000000.0
USSR         87000000.0
Argentina           NaN
dtype: float64

In [38]:
obj2.name="World War 2 Casualties"
obj2

Countries
China        30000000.0
Germany      43000000.0
Japan        21000000.0
USA           4000000.0
USSR         87000000.0
Argentina           NaN
Name: World War 2 Casualties, dtype: float64

In [29]:
ww2_Series = Series(ww2_dict)
ww2_Series

China      30000000
Germany    43000000
Japan      21000000
USA         4000000
USSR       87000000
dtype: int64

In [30]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [31]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [32]:
ww2_Series + obj2

Argentina            NaN
China         60000000.0
Germany       86000000.0
Japan         42000000.0
USA            8000000.0
USSR         174000000.0
dtype: float64

In [33]:
obj2.index.name='Countries'

In [35]:
obj2

Countries
China        30000000.0
Germany      43000000.0
Japan        21000000.0
USA           4000000.0
USSR         87000000.0
Argentina           NaN
dtype: float64